<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeWiki</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <img class="logo" src="../static/sauce/pexels-caleb-oquendo-7772559.jpg">
         <nav>
             <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Login</a></li>
                 <li><a href="#">Sign Up</a></li>
             </ul>
         </nav>
     </header>
     <main>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere illum qui porro non ratione assumenda ipsa recusandae tempora, nesciunt accusamus, fuga neque aliquam necessitatibus? Corrupti cumque laborum molestias culpa provident veniam accusamus est. Quibusdam earum reprehenderit esse! Minus, aut iste possimus dolores repellat consequatur eius vitae maxime repudiandae beatae totam voluptates vero expedita sit temporibus. Iste inventore expedita ratione recusandae animi nostrum officiis sapiente at doloremque perspiciatis voluptatem, similique aliquam ab ducimus quos eligendi repudiandae minima. Quaerat veritatis, commodi laboriosam numquam, labore earum cupiditate quidem eius modi quod quibusdam quae debitis? Recusandae quis dignissimos repellendus velit. Cumque unde magnam molestias.
     </main>
</body>
</html>